In [1]:
# installing packages
import numpy as np
import pandas as pd
import plotly
import plotly.express as px
import plotly.graph_objects as go

In [7]:
# ----- reading in 2018, 2019, 2020 data from DCAS worker profile
# dat = pd.read_csv('../data/input/agency_diversity_2018.csv')
# dat_19 = pd.read_csv('../data/input/agency_diversity_2019.csv')
# dat_20 = pd.read_csv('../data/input/agency_diversity_2020.csv')
dat_21 = pd.read_csv('../data/input/agency_diversity_2021.csv')

# ----- from ACS 2018 1-year
# note for self: labor_force not filtered
# dat_city = [52,48,32,22,29,14,3] # f, m, white, black, hisp, asian, sor
# # using ACS 2019 for BOTH 2019 & 2020 
# # 2020 not fully released due to pandemic
# dat_city_19 = [52,48,32,22,29,14,3]
# dat_city_20 = [52,48,32,22,29,14,3]
dat_city = [52,48,31,20,29,14,5] # 2021

columns=dat_21.columns

In [8]:
# print(columns)
# print(dat_20.columns)
print(dat_21)

       Agency  # Employees  %Female  %Male  %White  %Black  %Hispanic  %Asian  \
0        DCAS         2298       39     61      26      34         25      12
1       DOITT         1673       38     62      35      26         15      20
2   MAYORALTY         1243       59     41      42      20         16      18
3         BOE          946       48     52      31      31         18       4
4      NYCERS          484       61     39      30      35         11      22
..        ...          ...      ...    ...     ...     ...        ...     ...
67       FDNY        17564       12     88      62      13         19       4
68        DOC        10372       44     56      12      59         22       5
69        DOP         1084       69     31      11      63         20       3
70        DOI          341       55     45      43      26         16      10
71      NYCEM          206       50     49      53      18         11      10

    %SOR  check gender  check eth/race
0      3           100             100
1      4           100             100
2      4           100             100
3     16           100             100
4      2           100             100
..   ...           ...             ...
67     1           100              99
68     2           100             100
69     2           100              99
70     5           100             100
71     8            99             100

[72 rows x 11 columns]

In [9]:
# ----- calculations
def calculate(dat):
    dat['d1']=np.abs(dat[columns[2]]-dat_city[0])+np.abs(dat[columns[3]]-dat_city[1])+np.abs(dat[columns[4]]-dat_city[2])+np.abs(dat[columns[5]]-dat_city[3])+np.abs(dat[columns[6]]-dat_city[4])+np.abs(dat[columns[7]]-dat_city[5])+np.abs(dat[columns[8]]-dat_city[6])
    dat['d2']=np.abs(dat[columns[2]]-dat_city[0])/dat_city[0]+np.abs(dat[columns[3]]-dat_city[1])/dat_city[1]+np.abs(dat[columns[4]]-dat_city[2])/dat_city[2]+np.abs(dat[columns[5]]-dat_city[3])/dat_city[3]+np.abs(dat[columns[6]]-dat_city[4])/dat_city[4]+np.abs(dat[columns[7]]-dat_city[5])/dat_city[5]+np.abs(dat[columns[8]]-dat_city[6])/dat_city[6]
    dat['d4']=np.abs(dat[columns[2]]-dat_city[0])/(dat[columns[2]]+dat_city[0])/2+np.abs(dat[columns[3]]-dat_city[1])/(dat[columns[3]]+dat_city[1])/2+np.abs(dat[columns[4]]-dat_city[2])/(dat[columns[4]]+dat_city[2])/2+np.abs(dat[columns[5]]-dat_city[3])/(dat[columns[5]]+dat_city[3])/2+np.abs(dat[columns[6]]-dat_city[4])/(dat[columns[6]]+dat_city[4])/2+np.abs(dat[columns[7]]-dat_city[5])/(dat[columns[7]]+dat_city[5])/2+np.abs(dat[columns[8]]-dat_city[6])/(dat[columns[8]]+dat_city[6])/2
    dat['d3']=np.sqrt((dat[columns[2]]-dat_city[0])**2+(dat[columns[3]]-dat_city[1])**2+(dat[columns[4]]-dat_city[2])**2+(dat[columns[5]]-dat_city[3])**2+(dat[columns[6]]-dat_city[4])**2+(dat[columns[7]]-dat_city[5])**2+(dat[columns[8]]-dat_city[6])**2)
    dat['d5']=np.abs(dat[columns[2]]-dat_city[0])/(dat[columns[2]]+dat_city[0])/2+np.abs(dat[columns[5]]-dat_city[3])/(dat[columns[5]]+dat_city[3])/2+np.abs(dat[columns[6]]-dat_city[4])/(dat[columns[6]]+dat_city[4])/2+np.abs(dat[columns[7]]-dat_city[5])/(dat[columns[7]]+dat_city[5])/2+np.abs(dat[columns[8]]-dat_city[6])/(dat[columns[8]]+dat_city[6])/2
    dat['d6']=np.sqrt((dat[columns[2]]-dat_city[0])**2+(dat[columns[5]]-dat_city[3])**2+(dat[columns[6]]-dat_city[4])**2+(dat[columns[7]]-dat_city[5])**2+(dat[columns[8]]-dat_city[6])**2)
    dat['d3_norm']=(dat['d3']-dat['d3'].min())/(dat['d3'].max()-dat['d3'].min())*100.0
    dat['d4_norm']=(dat['d4']-dat['d4'].min())/(dat['d4'].max()-dat['d4'].min())*100.0
    dat['d6_norm']=(dat['d6']-dat['d6'].min())/(dat['d6'].max()-dat['d6'].min())*100.0
    dat['d3_gender']=np.sqrt((dat[columns[2]]-dat_city[0])**2+(dat[columns[3]]-dat_city[1])**2)
    dat['d3_race']=np.sqrt((dat[columns[4]]-dat_city[2])**2+(dat[columns[5]]-dat_city[3])**2+(dat[columns[6]]-dat_city[4])**2+(dat[columns[7]]-dat_city[5])**2+(dat[columns[8]]-dat_city[6])**2)
    dat['d4_gender']=np.abs(dat[columns[2]]-dat_city[0])/(dat[columns[2]]+dat_city[0])/2+np.abs(dat[columns[3]]-dat_city[1])/(dat[columns[3]]+dat_city[1])/2
    dat['d4_race']=np.abs(dat[columns[4]]-dat_city[2])/(dat[columns[4]]+dat_city[2])/2+np.abs(dat[columns[5]]-dat_city[3])/(dat[columns[5]]+dat_city[3])/2+np.abs(dat[columns[6]]-dat_city[4])/(dat[columns[6]]+dat_city[4])/2+np.abs(dat[columns[7]]-dat_city[5])/(dat[columns[7]]+dat_city[5])/2+np.abs(dat[columns[8]]-dat_city[6])/(dat[columns[8]]+dat_city[6])/2
    dat['d3_gender_norm']=(dat['d3_gender']-dat['d3_gender'].min())/(dat['d3_gender'].max()-dat['d3_gender'].min())*100.0
    dat['d3_race_norm']=(dat['d3_race']-dat['d3_race'].min())/(dat['d3_race'].max()-dat['d3_race'].min())*100.0 
    return dat

In [10]:
# dat = calculate(dat)
# dat_19 = calculate(dat_19)
# dat_20 = calculate(dat_20)
dat_21 = calculate(dat_21)

In [11]:
# ----- more calculations
def calc_high(dat):
    dat['d3_norm_high']=dat['d3_norm'] > 80
    dat['d3_gender_norm_high']=dat['d3_gender_norm'] > 80
    dat['d3_race_norm_high']=dat['d3_race_norm'] > 80
    dat['d3_gender_race_norm_high']=(dat['d3_gender_norm'] > 80) | (dat['d3_race_norm'] > 80)
    return dat

In [12]:
# dat = calc_high(dat)
# dat_19 = calc_high(dat_19)
# dat_20 = calc_high(dat_20)
dat_21 = calc_high(dat_21)

In [17]:
# ---- used to find marker points
# print(dat_19)
# dat_20[dat_20['d3_gender_norm']>45]
# dat_21[dat_21['d3_gender_norm']>45]
dat_21

,Agency,# Employees,%Female,%Male,%White,%Black,%Hispanic,%Asian,%SOR,check gender,...,d3_race,d4_gender,d4_race,d3_gender_norm,d3_race_norm,d3_norm_high,d3_gender_norm_high,d3_race_norm_high,d3_gender_race_norm_high,Median_Salary
0,DCAS,2298,39,61,26,34,25,12,3,100,...,15.652476,0.131062,0.373988,30.232558,18.536471,False,False,False,False,65913
1,DOITT,1673,38,62,35,26,15,20,4,100,...,16.881943,0.141414,0.398402,32.558140,21.214165,False,False,False,False,94533
2,MAYORALTY,1243,59,41,42,20,16,18,4,100,...,17.521415,0.070857,0.337842,16.279070,22.606891,False,False,False,False,86476
3,BOE,946,48,52,31,31,18,4,16,100,...,21.517435,0.040000,0.764547,9.302326,31.309944,False,False,False,False,50000
4,NYCERS,484,61,39,30,35,11,22,2,100,...,24.959968,0.091547,0.694957,20.930233,38.807543,False,False,False,False,64802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,FDNY,17564,12,88,62,13,19,4,1,100,...,35.014283,0.459559,0.988005,93.023256,60.705143,True,True,False,True,85292
68,DOC,10372,44,56,12,59,22,5,2,100,...,44.955534,0.080128,0.987521,18.604651,82.356497,False,False,True,True,85292
69,DOP,1084,69,31,11,63,20,3,2,100,...,49.598387,0.177843,1.126783,39.534884,92.468310,False,False,True,True,58106
70,DOI,341,55,45,43,26,16,10,5,100,...,19.104973,0.030148,0.374076,6.976744,26.055770,False,False,False,False,73886
71,NYCEM,206,50,49,53,18,11,10,8,99,...,28.930952,0.014959,0.580986,3.677067,47.456071,False,False,False,False,81410

In [18]:
# --- ** TO DO: add salary data for 2019, 2020 ** ---
# print(dat)
# MEDIAN SALARIES DONT MATCH ?????????
# dat = dat.assign(Median_Salary = ["60552", "87731", "78000", "45461", "55011", "70543", "79484", "64378", "55590", "46000", "73000", "117420", "70154", "73903", "44319", "112516", "56872", "69901", "59482", "86392", "82264", "91792", "73939", "77000", "64475", "76191", "64139", "61349", "70868", "65850", "62246", "46698", "58987", "61800", "61800", "61824", "70514", "82278", "107022", "59963", "46689", "65073", "57590", "46737", "75000", "68000", "77318", "78877", "69632", "65568", "75691", "75000", "70959", "72000", "61800", "62698", "65000", "60276", "78446", "64460", "69593", "64796", "65625", "78000", "76275", "80829", "85292", "85292", "78090", "61210", "67906", "76000"])
# dat_19 = dat_19.assign(Median_Salary = ["61336", "91499", "83436", "38463", "57295", "72839", "79862", "64640", "55798", "49025", "71001", "123237", "73148", "74396", "44675", "117468", "59502", "71491", "60000", "96081", "91499", "93728", "84053", "64418", "66205", "77387", "64139", "64202", "70000", "55000", "67500", "56432", "60167", "47135", "63939", "63946", "66398", "69498", "114752", "60788", "50763", "62577", "57426", "51993", "72874", "70152", "77318", "80449", "67624", "67792", "81872", "76484", "73986", "72000", "69000", "67800", "72904", "93067", "82209", "69228", "72957", "65292", "68444", "78000", "79568", "79150", "79802", "85292", "85292", "56658", "72079", "81350"])
# dat_20 = dat_20.assign(Median_Salary = ["65062", "94244", "85000", "45000", "59014", "76600", "80982", "66511", "56072", "46474", "77488", "135000", "74842", "79174", "53712", "120875", "61093", "76303", "64062", "99275", "90812", "91899", "92482", "66950", "70450", "89273", "66024", "64888", "72100", "55000", "70324", "53816", "61521", "50635", "66400", "65864", "73829", "71506", "113300", "62000", "52433", "64890", "60327", "55853", "77362", "74650", "77318", "83905", "70094", "69826", "85646", "77768", "75591", "72500", "69000", "67000", "73722", "100357", "81000", "69245", "70000", "67275", "70497", "83164", "91563", "76587", "81266", "85292", "85292", "58106", "73886", "81410"])
dat_21 = dat_21.assign(Median_Salary = ["65913", "94533", "86476", "50000", "64802", "78054", "82730", "65655", "65297", "46474", "73275", "129217", "72437", "79746", "58028", "121423", "61093", "78197", "64434", "107129", "88380", "94831", "98388", "90573", "72562", "80000", "68000", "68563", "75296", "69500", "69762", "53816", "62598", "67828", "67828", "69656", "83900", "89890", "115043", "65000", "54064", "70554", "60327", "58741", "80000", "75053", "83465", "86251", "74289", "69826", "85847", "79953", "76206", "72500", "70300", "69604", "73049", "66950", "83140", "69245", "71722", "72712", "70497", "79370", "79568", "86830", "85292", "85292", "92073", "58343", "75824", "83791"])
index = dat_21.index
# print(index)

# double check median salaries from past 4 years

In [83]:
# ----- drawing the html plot
def draw_fig(dat):
    fig = px.scatter(dat, x="d3_gender_norm", y="d3_race_norm", hover_name='Agency', color='d3_gender_race_norm_high', size=dat[columns[4]], color_discrete_sequence=["#2F56A6", "#B63F26"], hover_data={
        'd3_gender_race_norm_high': False,
        'd3_gender_norm': ':.1f',
        'd3_race_norm': ':.1f',
        'Median_Salary': ':$.0f',
        '# Employees': True,
        '%Female': True,
        '%Black': True,
        '%Hispanic': True,
        '%Asian': True,
        '%SOR': True},
        labels={'d3_gender_norm': 'Gender', 'd3_race_norm': 'Race/Ethnicity',
                'Median_Salary': 'Median Salary',
                'd3_gender_race_norm_high': ''})
    # ---- 2019 highlights: add LPC, remove IBO ----
    # fig.add_trace(go.Scatter(x=[44.186047],y=[84.970717], mode ='markers',
    #                          marker_symbol = 'circle',
    #                          marker_size = dat[columns[4]],
    #                          marker_color = '#611919',
    #                          hoverinfo='none'))
    # fig.add_trace(go.Scatter(x=[11.627907],y=[75.258282], mode ='markers',
    #                          marker_symbol = 'circle',
    #                          marker_size = dat[columns[4]],
    #                          marker_color = '#193161',
    #                          hoverinfo='none'))
    # ---- 2020 highlights: add FDNYPF, remove DA-SI
    # fig.add_trace(go.Scatter(x=[48.837209],y=[83.206688], mode ='markers',
    #                          marker_symbol = 'circle',
    #                          marker_size = dat[columns[4]],
    #                          marker_color = '#611919',
    #                          hoverinfo='none'))
    # fig.add_trace(go.Scatter(x=[13.953488],y=[73.174973], mode ='markers',
    #                          marker_symbol = 'circle',
    #                          marker_size = dat[columns[4]],
    #                          marker_color = '#193161',
    #                          hoverinfo='none'))
    fig.update_traces(textposition='top center')
    fig.add_hline(y=50, line_dash="dash", line_color='grey')
    fig.add_vline(x=50, line_dash="dash", line_color='grey')
    fig.add_annotation(xref="x domain", yref="y domain", x=0.005,
                       y=-0.0, text="Closest", showarrow=False)
    fig.add_annotation(xref="x domain", yref="y domain", x=0.98,
                       y=-0.0, text="Farthest", showarrow=False)
    fig.add_annotation(xref="x domain", yref="y domain", x=0.005,
                       y=0.98, text="Farthest", showarrow=False)
    fig.add_annotation(xref="x domain", yref="y domain",
                       x=0.99, y=0.9, text="2021 NYC Population: <br> Female = 52%<br>  Black = 20%<br>  Hispanic = 29%<br> Asian = 14%<br>  SOR = 5%", showarrow=False)
    # fig.update_layout(showlegend=False)
    newnames = set()
    fig.for_each_trace(
        lambda trace:
        trace.update(showlegend=False)
        if (dat[dat['d3_gender_race_norm_high'] == False].bool) else newnames.add(trace.name))
    # newnames = {'True':'Agencies Farthest Away <br><sup> (Score >= 80)</sup>'}
    # fig.for_each_trace(lambda t: t.update(name = newnames[t.name]))
    fig.update_layout({"title":
                       {"text": " 2019 Agency Demographics Compared to NYC's Population<br> <sup>An agency with a lower score (0) is closer to, while a higher score (100) is farther away from NYC's Gender & Racial Breakdown</sup>",
                        "font": {"size": 20}}},
                      legend=dict(yanchor="top", xanchor="left", x=0.942))
    fig.write_html("../visuals/agency_diversity_distance_2019.html")
    return

In [85]:
# --- ** TO DO: draw figs for 2019, 2020 ** ---
draw_fig(dat_19)